# Core functionality - changes here should be rare!
/src/app.py                   @SaptarshiSarkar12
/src/backend/database.py      @SaptarshiSarkar12
/src/backend/routers/auth.py  @SaptarshiSarkar12

# The frontend will need refactored soon to be more object oriented.
/src/static/   @SaptarshiSarkar12
